language: python
python:
  - 2.7
  - 3.5
  - 3.6
# dependencies
install:
  - pip install --upgrade pip
  - pip install -r requirements.txt
  - pip install -r requirements_test.txt
  - pip install -e .

# command to run tests
script:
  - py.test --cov=fitr tests/*
after_success:
  - codecov
